<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="simpleSection"
				 type="Task.Configuration.SimpleConfigurationSection, Task"/>
	</configSections>

	<simpleSection>
		<directories>
			<add path="C:\Users\Evgeny_Ermolovich\Desktop\MT4\Watcher\" />
		</directories>

		<rules>
			<add pattern=".txt" path="C:\Users\Evgeny_Ermolovich\Desktop\MT4\txt" />
		</rules>

		<culture culture = "en-US" />
		
		<defaultPath path="C:\Users\Evgeny_Ermolovich\Desktop\MT4\default" />
		
		<options addNumber="true" addDate="true"/>
	</simpleSection>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>